*{
  margin: 0;
  padding: 0;
}

@page {
    /*size: A4;*/
    size: 315mm 445.5mm;
    /*size: Letter;*/
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.text-center {
    text-align: center;
}

.text-right {
  float: right;
  font-weight: bold;
}

hr {
  color: #ffffff;
}

.title-header {
  margin-bottom: 8px;
}

.sub-header {
  margin-bottom: 8px;
}