# .coveragerc to control coverage.py
[run]
omit =
    */node_modules/*
    */__init__.py
    manage.py
    */venv/*
    */tasks.py
    */migrations/*
    */core/*
    */apis/utils/*
    */tools/*
    */fixtures/*
    */tests.py
    */htmlcov/*
    /usr/*
    */apis/scanners/dirby/*
    */apis/scanners/whatweb/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    @abstract
    except Exception as e:

show_missing = True
